*{
    background:  #F3F5FC;
    font-family: "inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 15px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: blue;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{
    color: blue;}

.text-area:focus{

    outline: none;
}

.mensaje{
    background: rgb(243, 241, 241);
    background-image:url("imagenes/muñeco/Muñeco.png");  
    background-repeat: no-repeat;
    border: none;
    border-radius: 25px;
    color: #050538;
    margin-top: 20px;
    margin-left: 98px;
    padding-left:20px ;
    position: fixed;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: blue;
    border: 1px solid blue;
    border-radius: 24px;
    color: #F3F5FC;
    cursor: pointer;
    height: 63px;
    width: 328px;
}

.btn-desencriptar{
    background-color: #F3F5FC;
    border:1px solid #0b2286;
    border-radius: 24px;
    color: blue;
    cursor: pointer;
    height: 63px;
    margin-left: 30px;
    width: 328px;
}

.copiar{
    background-color: blue;
    border: 1px solid blue;
    border-radius: 24px;
    color: #F3F5FC;
    cursor: pointer;
    margin-left: 108px;
    margin-top:402px ;
    height: 63px;
    width: 328px;
    position: absolute;
}

.informacion{
    color: #050538;
    font-size: 20px;
}

footer{
    color: #050538;
    font-size:  20px; 
    text-align: center;
}




